In [1]:
# read the csv files to Pandas dataframe 
import pandas as pd 

df_monthly = pd.read_csv('housing_in_london_monthly_variables.csv')
df_yearly = pd.read_csv('housing_in_london_yearly_variables.csv')

print(df_monthly.head())
print(df_yearly.head())

         date            area  average_price       code  houses_sold  \
0  1995-01-01  city of london          91449  E09000001         17.0
1  1995-02-01  city of london          82203  E09000001          7.0
2  1995-03-01  city of london          79121  E09000001         14.0
3  1995-04-01  city of london          77101  E09000001          7.0
4  1995-05-01  city of london          84409  E09000001         10.0

   no_of_crimes  borough_flag
0           NaN             1
1           NaN             1
2           NaN             1
3           NaN             1
4           NaN             1
        code                  area        date  median_salary  \
0  E09000001        city of london  1999-12-01        33020.0
1  E09000002  barking and dagenham  1999-12-01        21480.0
2  E09000003                barnet  1999-12-01        19568.0
3  E09000004                bexley  1999-12-01        18621.0
4  E09000005                 brent  1999-12-01        18532.0

   life_satisfaction mean_salary recycling_pct  population_size  \
0                NaN       48922             0           6581.0
1                NaN       23620             3         162444.0
2                NaN       23128             8         313469.0
3                NaN       21386            18         217458.0
4                NaN       20911             6         260317.0

   number_of_jobs  area_size  no_of_houses  borough_flag
0             NaN        NaN           NaN             1
1             NaN        NaN           NaN             1
2             NaN        NaN           NaN             1
3             NaN        NaN           NaN             1
4             NaN        NaN           NaN             1

In [4]:
# Date to Datetime format
df_monthly['date'] = pd.to_datetime(df_monthly['date'])
df_yearly['date'] = pd.to_datetime(df_yearly['date'])

# extract data from 2000 
df_montly = df_monthly[df_monthly['date'].dt.year >= 2000]
df_yearly = df_yearly[df_yearly['date'].dt.year >= 2000]

# year column for merging two files
df_monthly['year'] = df_monthly['date'].dt.year
df_yearly['year'] = df_yearly['date'].dt.year

# merging two files 
df_merged = df_monthly.merge(df_yearly, on = ['year', 'area'], how = 'left')
df_merged.to_csv('merged_housing_data_2000_latest.csv', index = False)

In [7]:
# handling missing values 
print(df_merged.isnull().sum())

date_x                  0
area                    0
average_price           0
code_x                  0
houses_sold            94
no_of_crimes         6110
borough_flag_x          0
year                    0
code_y               3229
date_y               3229
median_salary        3469
life_satisfaction    9709
mean_salary          3229
recycling_pct        4201
population_size      3745
number_of_jobs       4201
area_size            5557
no_of_houses         5557
borough_flag_y       3229
dtype: int64

In [15]:
# check numeric columns 
num_cols = df_merged.select_dtypes(include=['number','float64','int64']).columns

# filling the missing values with the median of their respective columns 
df_merged[num_cols] = df_merged[num_cols].apply(lambda x: x.fillna(x.median()), axis=0)

# dropping this column due to too many missing values
if 'life_satisfaction' in df_merged.columns:
    df_merged.drop(columns = ['life_satisfaction'], inplace = True)

# convert: string values to integer values 
df_merged['mean_salary'] = pd.to_numeric(df_merged['mean_salary'], errors = 'coerce')
df_merged['recycling_pct'] = pd.to_numeric(df_merged['recycling_pct'], errors = 'coerce')

print(df_merged.isnull().sum())

date_x                0
area                  0
average_price         0
code_x                0
houses_sold           0
no_of_crimes          0
borough_flag_x        0
year                  0
code_y             3229
date_y             3229
median_salary         0
mean_salary           0
recycling_pct         0
population_size       0
number_of_jobs        0
area_size             0
no_of_houses          0
borough_flag_y        0
dtype: int64

In [ ]:
# drop unnecessary columns
df_merged.drop(columns = ['code','borough_flag','date_x','code_x', 'borough_flag_x','code_y','date_y','borough_flag_y'], inplace = True)

In [26]:
print(df_merged.columns)

Index(['area', 'average_price', 'houses_sold', 'no_of_crimes', 'year',
       'median_salary', 'mean_salary', 'recycling_pct', 'population_size',
       'number_of_jobs', 'area_size', 'no_of_houses'],
      dtype='object')

In [27]:
print(df_merged.head())

             area  average_price  houses_sold  no_of_crimes  year  \
0  city of london          91449         17.0        2132.0  1995
1  city of london          82203          7.0        2132.0  1995
2  city of london          79121         14.0        2132.0  1995
3  city of london          77101          7.0        2132.0  1995
4  city of london          84409         10.0        2132.0  1995

   median_salary  mean_salary  recycling_pct  population_size  number_of_jobs  \
0        28596.5      33248.0           28.0         270418.0        137000.0
1        28596.5      33248.0           28.0         270418.0        137000.0
2        28596.5      33248.0           28.0         270418.0        137000.0
3        28596.5      33248.0           28.0         270418.0        137000.0
4        28596.5      33248.0           28.0         270418.0        137000.0

   area_size  no_of_houses
0     4323.0      102402.0
1     4323.0      102402.0
2     4323.0      102402.0
3     4323.0      102402.0
4     4323.0      102402.0

In [28]:
df_merged.to_csv('cleaned_housing_data_2000_latest.csv', index = False)